/**
 * Custom styles
 */

/*
You can add your own CSS here.

Click the help icon above to learn more.
*/

/* 
* STYLE Notes
* Bright blue (Accent, Links): #21759a
* Dark Blue (Headings): #3b3e44
* Medium Blue-Gray (Site Background): #97989C
* Dark Gray (Text): #464646
* Light Gray (Backgrounds): #efefef
*/

/* Typography */

body {
	color: #464646;
}

h1, h2, h3, h4, h5, h6 {
	color: #3B3E44;
}

.entry-content code {
	background-color: #ddd;
	color: #333;
}

/* Layout & Colors*/

.site-container {
	background-color: #97989C;
}

.site-inner {
	background-color: #fff;
	margin-top: 40px;
	padding: 40px;
	max-width: 1000px;
}

.home .site-inner {
	padding: 0;
	margin: 0;
	max-width: none;
	background-color: transparent;
}

.content-sidebar-wrap {
	background-color: #fff;
}

.home-top-news,
.lean-newsletter,
.footer-widgets {
	background-color: #3B3E44;
	color: #fff;
}

/* Header */

.site-header {
	background-color: #fff;
}

.home .site-header{
	border-top: 5px solid #21759a;
	margin-top:-5px;
}

/* Sidebar */

.sidebar li a {
	color: #3B3E44;
	font-weight: 400;
}

.sidebar li a:hover {
	color: #21759a;
	text-decoration: underline;
}

/* Footer */
.site-footer {
	background-color: #21759a;
	color: #fff;
}

/* Front Page */

.home-top-news .widget::before {
	content: none;
}

.home-top-news .widget,
.lean-newsletter {
	font-size: 24px;
}

.home-row1 .widget h4 {
	color: #fff;
	font-weight:600;
	text-transform: uppercase;
}

.home-row1 a,
.home-row4 a {
	color: #fff;
	font-weight: bold;
}

.home-row1 a:hover,
.home-row4 a:hover {
	text-decoration: underline;
}

.home-row4 > .wrap {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

.home-row4 .widget-title {
	margin-bottom: 20px;
}

.home-row4 .widget {
	-webkit-box-flex: 0;
	    -ms-flex: 0 1 470px;
	        flex: 0 1 470px;
	font-size: 20px;
}

.home-row4 .widget:first-child {
	padding-right: 30px;
}

.home-row4 ul {
	margin-left: 40px;
	margin-bottom: 20px;
}

.home-row5 {
	background-color: #EFEFEF;
}

.lean-newsletter,
.lean-newsletter .widget-title,
.footer-widgets .widget-title,
.lean-newsletter a,
.site-footer a {
color: #fff;
}

.lean-newsletter a,
.site-footer a {
font-weight: bold;
}

.lean-newsletter a:hover,
.site-footer a:hover {
	text-decoration: underline;
}

.home-row6 > .wrap {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-ms-flex-wrap:  wrap;
	    flex-wrap:  wrap;
}

.home-row6 .widget:first-child {
	-webkit-box-flex: 0;
	    -ms-flex: 0 0 100%;
	        flex: 0 0 100%;
}

.home-row6 .widget:nth-child(2) {
	-ms-flex-item-align:  center;
	    -ms-grid-row-align:  center;
	    align-self:  center;
	text-align: left;
	padding: 0 12px;
	-webkit-box-flex: 1;
	    -ms-flex: 1 1 300px;
	        flex: 1 1 300px;
}

.home-row6 .widget:last-child {
	padding: 0 12px;
	-webkit-box-flex: 1;
	    -ms-flex: 1 1 600px;
	        flex: 1 1 600px;
}

.home-row7,
.home-row7 .widget-title {
	color: #fff;
}

.home-row7 .entry-title {
	font-weight: 400;
	text-transform: uppercase;
}

.home-row7 .entry-title a:hover {
	text-decoration: underline;
}

/* Events Calendar */

/* For browsers that don't support CSS Grid */
.home-row2 .tribe-list-widget {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}

.home-row2 .tribe-list-widget li {
	-webkit-box-flex: 0;
	    -ms-flex: 0 1 300px;
	        flex: 0 1 300px;
}

.home-row2 .tribe-list-widget li:last-child {
	margin-right:  auto;
}

.home-row2 .tribe-events-list-widget .tribe-events-list-widget-events {
	padding:  10px;
}

/* For browsers that do support CSS Grid */
@supports ((display: -ms-grid) or (display: grid)) {
	.home-row2 .tribe-list-widget {
		display: -ms-grid;
		display: grid;
		-ms-grid-columns: (300px)[auto-fill];
		    grid-template-columns: repeat(auto-fill, 300px);
		grid-gap: 10px;
	}

	.home-row2 .tribe-list-widget li {
		-webkit-box-flex: 0;
		    -ms-flex: 0;
		        flex: 0;
	}
}

.tribe-events-list-widget .tribe-event-title {
	font-weight: 600;
}

.tribe-events-list-widget .tribe-event-title a {
	color:#3B3E44;
}

.tribe-events-list-widget .tribe-event-title a:hover {
	color: #21759A;
}

.tribe-events-list .tribe-events-event-image+div.tribe-events-content  {
	float:  none;
	width:  100%;
}

#tribe-events-pg-template .tribe-events-content h3, 
.tribe-events-after-html h3, 
.tribe-events-before-html h3 {
	font-size: 24px;
	color: #3B3E44;
	font-weight: 400;
}

#tribe-events-pg-template .tribe-events-content ul, 
.tribe-events-after-html ul, 
.tribe-events-before-html ul {
	margin-left: 40px;
	margin-bottom: 30px;
}

#tribe-events-pg-template .tribe-events-content ol li, 
#tribe-events-pg-template .tribe-events-content ul li, 
.tribe-events-after-html ol li, 
.tribe-events-after-html ul li, 
.tribe-events-before-html ol li, 
.tribe-events-before-html ul li {
	line-height: 1.25;
	margin: 0 0 12px;
}

/* Contact Page */

.kickstart-contact-box p:last-child {
margin-bottom: 20px;
}

/* GFPC */

.gfpc-overlay .tint::before {
  background-color: rgba( 59,62,68, 0.9 ) !important;
}

/* Archives */

.archive-pagination li a:hover,
.archive-pagination li.active a {
	background-color: #21759a;
}

/* Footer */

.footer-widgets .wrap {
	max-width: 1080px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}

.footer-widgets .widget-area {
	margin-right: 0;
}

.footer-widgets-1,
.footer-widgets-2,
.footer-widgets-3,
.footer-widgets-4,
.footer-widgets-5 {
	float: none;
	padding: 0 5px;
	-webkit-box-flex: 1;
	    -ms-flex: 1 1 200px;
	        flex: 1 1 200px;
}
