/**
 * Custom styles
 */

/* Events Calendar */

/* For browsers that don't support CSS Grid */
.home-row2 .tribe-list-widget {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}

.home-row2 .tribe-list-widget li {
	-webkit-box-flex: 0;
	    -ms-flex: 0 1 300px;
	        flex: 0 1 300px;
}

.home-row2 .tribe-list-widget li:last-child {
	margin-right:  auto;
}

.home-row2 .tribe-events-list-widget .tribe-events-list-widget-events {
	padding:  10px;
}

/* For browsers that do support CSS Grid */
@supports ((display: -ms-grid) or (display: grid)) {
	.home-row2 .tribe-list-widget {
		display: -ms-grid;
		display: grid;
		-ms-grid-columns: (300px)[auto-fill];
		    grid-template-columns: repeat(auto-fill, 300px);
		grid-gap: 10px;
	}

	.home-row2 .tribe-list-widget li {
		-webkit-box-flex: 0;
		    -ms-flex: 0;
		        flex: 0;
	}
}

.tribe-events-list-widget .tribe-event-title {
	font-weight: 600;
}

.tribe-events-list-widget .tribe-event-title a {
	color:#3B3E44;
}

.tribe-events-list-widget .tribe-event-title a:hover {
	color: #21759A;
}

.tribe-events-list .tribe-events-event-image+div.tribe-events-content  {
	float:  none;
	width:  100%;
}

#tribe-events-pg-template .tribe-events-content h3, 
.tribe-events-after-html h3, 
.tribe-events-before-html h3 {
	font-size: 24px;
	color: #3B3E44;
	font-weight: 400;
}

#tribe-events-pg-template .tribe-events-content ul, 
.tribe-events-after-html ul, 
.tribe-events-before-html ul {
	margin-left: 40px;
	margin-bottom: 30px;
}

#tribe-events-pg-template .tribe-events-content ol li, 
#tribe-events-pg-template .tribe-events-content ul li, 
.tribe-events-after-html ol li, 
.tribe-events-after-html ul li, 
.tribe-events-before-html ol li, 
.tribe-events-before-html ul li {
	line-height: 1.25;
	margin: 0 0 12px;
}
